.Main {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
}

.Main>div {
  background-color: white;
  border-radius: 5px;
}

.Main>div:nth-child(1) {
  position: sticky;
  top: 2em;
  flex: 0 1 504px;
  min-width: 0;
  padding: 1em;
}

.Main>div:nth-child(2) {
  flex: 1 1 350px;
  min-width: 0;
  max-width: 450px;
  padding: .2em 1em;
}
