.Main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.Main > div {
  margin: 1em;
  background-color: white;
  border-radius: 5px;
}

.Main > div:nth-child(1) {
  flex: 0 1;
  padding: 1em;
}

.Main > div:nth-child(2) {
  flex: 1;
  padding: .2em 1em;
  min-width: 350px;
  max-width: 450px;
}
