fieldset.OptionsSelector {
  /* we are abusing a fieldset to wrap all options */
  /* clear default style */
  display: contents;
  border: none;
  margin: 0;
  padding: 0;
}

.OptionsSelector>h3 {
  margin: .7em 0;
}

.OptionsSelector>p {
  margin: .5em 0;
}

.OptionsSelector label>* {
  vertical-align: middle;
}

.OptionsSelector label input[type="text"],
.OptionsSelector label input[type="number"],
.OptionsSelector label select,
.OptionsSelector label button {
  min-width: 70%;
  max-width: 100%;
}

.OptionsSelector label input[type="checkbox"] {
  margin-left: 0;
}
