.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.App>header,
.App>footer {
  color: white;
  text-align: center;
}

.App>header a,
.App>footer a {
  color: white;
}

.App>main {
  flex: 1;
}
